@model List<ShowChargesByMonthDto>

@{
    ViewData["Title"] = "ShowChargesByMonth";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h1>ShowChargesByMonth</h1>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Apartman Tipi</th>
            <th scope="col">Blok - No</th>
            <th scope="col">Kat - No</th>
            <th scope="col">Toplam Ücret</th>


        </tr>
    </thead>
    <tbody>

        @foreach (var charges in Model)
        {
        <tr>
            <th scope="row"></th>

            <td>@charges.Apartment.ApartType</td>
            <td>@charges.Apartment.BlocNo</td>
            <td>@charges.Apartment.FloorNo</td>
            <td>@charges.TotalCharge</td>



        </tr>


        }



    </tbody>
</table>
